<div class="col-sm-9" align="right">
    <div class="row">
        <div class="col-sm">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter By Category
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/">All Items</a>
                    <a class="dropdown-item" href="/index/Pets">Pets</a>
                    <a class="dropdown-item" href="/index/PetToys">Pet Toys</a>
                    <a class="dropdown-item" href="/index/PetCarriers">Pet Carriers</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter By LifeSpan
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/index/Pets">All LifeSpans</a>
                    <a class="dropdown-item" href="/index/Pets?max_lifespan=10&min_lifespan=1">1-10 Years</a>
                    <a class="dropdown-item" href="/index/Pets?max_lifespan=20&min_lifespan=10">10-20 Years</a>
                    <a class="dropdown-item" href="/index/Pets?max_lifespan=100&min_lifespan=20">20+ Years</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter By Age
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/">All Ages</a>
                    <a class="dropdown-item" href="/index/Pets?max_age=5&min_age=0">1-5 Years</a>
                    <a class="dropdown-item" href="/index/Pets?max_age=10&min_age=5">5-10 Years</a>
                    <a class="dropdown-item" href="/index/Pets?max_age=100&min_age=10">10+ Years</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter By Price
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/">All Items</a>
                    <a class="dropdown-item" href="/index/AllItems?max_price=50&min_price=10">$10-$50</a>
                    <a class="dropdown-item" href="/index/AllItems?max_price=500&min_price=50">$50-$500</a>
                    <a class="dropdown-item" href="/index/AllItems?max_price=5000&min_price=500">$500+</a>
                </div>
            </div>
        </div>
    </div>

</div>