<table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Item</th>
                    <th>Category</th>
                    <th>Pet Type</th>
                    <th>Pet Breed</th>
                    <th>Color</th>
                    <th>Pet Age</th>
                    <th>Price</th>
                    <th>Discounted Price</th>
                    <th>Life Span</th>
                    <th>Size</th>
                </tr>
            </thead>
            {% for item in items %}
                <tr>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.item_type_name }}</td>
                    <td>{{ item.pet_type_name }}</td>
                    <td>{{ item.pet_breed_name }}</td>
                    <td>{{ item.item_color_name }}</td>
                    <td>{{ item.item_pet_age }}</td>
                    <td>${{ item.item_price }}</td>
                    <td>${{ item.item_discount_price }}</td>
                    <td>{{ item.pet_breed_lifespan }}</td>
                    <td>{{ item.item_size }}</td>
                </tr>
            {% endfor %}
        </table>
