{% extends 'base.html.twig' %}

{% block title %}
    Pet Store
{% endblock %}

{% block content %}
    <div class="container">
        <img src="/images/dog-with-gun.jpg" width="200">
        <h1>Pet Store List</h1>
        <hr/>
        <div class="row">
            <div class="col-sm-3">
                <h3>Items</h3>
            </div>
            {% include 'includes/filters.html.twig' %}
        </div>


        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Item</th>
                <th>Category</th>
                <th>Pet Type</th>
                <th>Pet Breed</th>
                <th>Color</th>
                <th>Pet Age</th>
                <th>Price</th>
                <th>Life Span</th>
                <th>Size</th>
            </tr>
            </thead>
            {% for item in items %}
                <tr>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.item_type_name }}</td>
                    <td>{{ item.pet_type_name }}</td>
                    <td>{{ item.pet_breed_name }}</td>
                    <td>{{ item.item_color_name }}</td>
                    <td>{{ item.item_pet_age }}</td>
                    <td>${{ item.item_price }}</td>
                    <td>{{ item.pet_breed_lifespan }}</td>
                    <td>{{ item.item_size }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}